* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #323437;
}

.wrapper {
	width: 85%;
	/* background: #fff; */
	border-radius: 10px;
	padding: 35px;
}

.input-field {
	z-index: -999;
	opacity: 0;
	position: absolute;
}

.content-box {
	padding: 13px 20px 0;
	border-radius: 10px;
	border: 1px solid#646669;
}

.typing-text {
	max-height: 255px;
	overflow-y: auto;
}

.typing-text::-webkit-scrollbar {
	width: 0;
}

.typing-text p {
	padding: 5px;
	font-size: 30px;
	text-align: justify;
	letter-spacing: 1px;
	word-break: break-all;
	color: #646669;
}

.typing-text p span {
	position: relative;
}

span.active {
	color: #646669;
}

span.active::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 2px;
	height: 80%;
	width: 2px;
	opacity: 0;
	background: #A08621;
	animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
	50% {
		opacity: 1;
	}
}

.content {
	display: flex;
	margin-top: 17px;
	padding: 12px 0;
	align-items: center;
	border-top: 1px solid #646669;
	justify-content: space-between;
}

.result-details {
	display: flex;
	width: calc(100% - 140px);
	justify-content: space-around;
	color: #646669;
}

.result-details li {
	height: 22px;
	display: flex;
	list-style: none;
	align-items: center;
}

.result-details li:not(:first-child) {
	padding-left: 66px;
	border-left: 1px solid #646669;
}

.result-details p {
	font-size: 19px;
}

.result-details li span {
	display: block;
	font-size: 20px;
	margin-left: 10px;
}

.result-details li span:not(:first-child) {
	font-weight: 500;
}

.result-details li b {
	font-weight: 500;
}

.content button {
	border: none;
	outline: none;
	width: 105px;
	padding: 8px 0;
	color: #323437;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
	background: #646669;
	transition: transform 0.3s ease;
}

.content button:active {
	transform: scale(0.97);
}

.correct {
	color: #56964f;
}

.incorrect {
	color: #ca4754;
	outline: 1px solid #aaa;
	border-radius: 4px;
}
